{% extends "base-2col/base.html" %}

{% block main_content %}

<!-- page content -->
<div class="">

    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2">
            <br /><br />
            <div class="x_panel">

                <div class="x_title">

                    <h3 class="pull-left">Edit {{ params.caption }}</h3>

                    <ul class="breadcrumb pull-right">
                        <li>
                            <a href="/view/node/{{ params.component }}"> Node {{ params.caption }}</a>
                       </li>
                       <li class="active">Edit {{ params.caption }}</li>
                    </ul>

                    <div class="clearfix"></div>
                </div><!-- ./x_title -->

                <div class="x_content">
                    <br />

                    <form class="form-horizontal form-label-left" id="{{ params.component }}_edit_form">

                        <input type="hidden" class="{{ params.component }}_field_editable" id="{{ params.component }}id" name="{{ params.component }}id" readonly>

                        <div class="row">

                            <div class="form-group required col-md-6 col-sm-6 col-xs-12" id="{{ params.component }}_pn_group">

                                <label for="{{ params.component }}_pn" class="col-md-4 col-sm-4 col-xs-12 control-label">{{ params.caption }} P/N</label>
                                <div class="col-sm-8">
                                    <input
                                        type="text"
                                        class="form-control {{ params.component }}_field_editable"
                                        id="{{ params.component }}_pn"
                                        name="{{ params.component }}_pn">
                                </div>
                            </div>

                            <div class="form-group required col-md-6 col-sm-6 col-xs-12" id="{{ params.component }}_mixpn_group">
                        
                                <label for="{{ params.component }}-version" class="col-md-4 col-sm-4 col-xs-12 control-label">Mix Allowed P/N</label>
                                <div class="col-sm-8">
                                    <input
                                        type="text"
                                        class="form-control {{ params.component }}_field_editable"
                                        id="{{ params.component }}_mixpn"
                                        name="{{ params.component }}_mixpn">
                                </div>
                                
                            </div> <!-- {{ params.component }} version group -->

                        </div> <!-- ./row -->

                        <div class="row">

                            <div class="form-group col-md-6 col-sm-6 col-xs-12" id="{{ params.component }}_revision_group">
                                <label for="{{ params.component }}_revision" class="col-md-4 col-sm-4 col-xs-12 control-label">Revision</label>
                                <div class="col-sm-8">
                                    <input
                                        type="text"
                                        class="form-control {{ params.component }}_field_editable"
                                        id="{{ params.component }}_revision"
                                        name="{{ params.component }}_revision">
                                </div>
                            </div>

                            <div class="form-group required col-md-6 col-sm-6 col-xs-12" id="{{ params.component }}_version_group">
                                <label for="{{ params.component }}_version" class="col-md-4 col-sm-4 col-xs-12 control-label">Version</label>
                                <div class="col-sm-8">
                                    <input
                                        type="text"
                                        class="form-control {{ params.component }}_field_editable"
                                        id="{{ params.component }}_version"
                                        name="{{ params.component }}_version">
                                </div>
                                </div> <!-- {{ params.component }} version group -->

                        </div> <!-- ./row -->


                        <div class="row">

                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label for="ibox_release" class="col-md-4 col-sm-4 col-xs-12 control-label">Infinibox Release</label>
                                <div class="col-sm-8">
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="ibox_release"
                                        name="ibox_release" disabled>
                                </div>
                            </div>

                            <div class="form-group col-md-6 col-sm-6 col-xs-12">

                                <label for="node_model" class="col-md-4 col-sm-4 col-xs-12 control-label">Node Model</label>
                                <div class="col-sm-8">
                                    <input
                                        type="text" 
                                        class="form-control {{ params.component }}_field"
                                        id="node_model" 
                                        name="node_model" disabled>
                                </div>
                        
                            </div> <!-- /.form-group -->


                        </div><!-- /.row -->
                        
                        <div class="row">

                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label for="firmware_bin" class="col-md-4 col-sm-4 col-xs-12 control-label">Firmware BIN</label>
                                <div class="col-sm-8">
                                    <input
                                        type="text"
                                        class="form-control {{ params.component }}_field_editable"
                                        id="firmware_bin"
                                        name="firmware_bin">
                                </div>
                            </div>

                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label for="firmware_exe" class="col-md-4 col-sm-4 col-xs-12 control-label">Firmware EXE</label>
                                <div class="col-sm-8">
                                    <input
                                        type="text"
                                        class="form-control {{ params.component }}_field_editable"
                                        id="firmware_exe"
                                        name="firmware_exe">
                                </div>
                            </div>

                        </div><!-- /.row -->

                        <div class="row">

                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label for="hwstatus_check" class="col-md-4 col-sm-4 col-xs-12 control-label">HW Status</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class="checkbox">
                                            <input
                                                type="checkbox"
                                                class="flat {{ params.component }}_field_editable"
                                                id="hwstatus_check"
                                                name="hwstatus_check">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label for="notes" class="col-md-4 col-sm-4 col-xs-12 control-label">Notes</label>
                                <div class="col-sm-8">
                                    <textarea
                                        rows="3"
                                        class="form-control {{ params.component }}_field_editable"
                                        id="notes"
                                        name="notes"></textarea>
                                </div>
                            
                            </div>
                        </div><!-- /.row -->
                        <br />
                        <br />

                        {% include "main/node/buttons-form.html" %}

                    </form>
                </div> <!-- /.x_content -->

            </div><!-- ./x_panel -->
        </div><!-- ./col-* -->
    </div><!-- ./row -->

</div>
<!-- /page content -->



{% endblock %}

{% block docready %} 
    jQuery("li#nav-home").addClass("active");
    jQuery("li#nav-hwparts-node-{{ params.component }}").addClass("active");
    {% include  "main/node/frontbp/frontbp.js" %}
    onShowFormEdit();
{% endblock %}
