<div class="sidebar-footer hidden-small">
<!--    <a data-toggle="tooltip" data-placement="top" title="Settings">-->
<!--        <span class="fa fa-cog" aria-hidden="true"></span>-->
<!--    </a>-->

    <a data-toggle="tooltip" data-placement="top" title="Logout" href="#">
        <span class="fa fa-sign-out" aria-hidden="true"></span>
    </a>
</div>
