<ul class="nav navbar-nav">

    <li id="nav-node">
        <a class="nav-link" href="/hwparts/node/model">
            <span><i class="fa fa-lg fa-server"></i> Node Model
        </a>
    </li>

    <li id="nav-bios">
        <a class="nav-link" href="/node/bios">
            <span><i class="fa fa-lg fa-wrench"></i> Node BIOS
        </a>
    </li>

    <li id="nav-vendor">
        <a class="nav-link" href="/vendor">
            <span><i class="fa fa-lg fa-shopping-cart"></i> Vendor
        </a>
    </li>
</ul>

