<div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="{{ current_user.picture }}" width="25" height="25" class="profile-image img-circle"> {{ current_user.name }}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-filter"></i> My Machines</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ url_for('auth.logout') }}">
                        <i class="fa fa-sign-out"></i> Sign-out
                    </a></li>
                </ul>
            </li>

        {% else %}

            <li>
                <a class="nav-link" href="{{ url_for('auth.oauth_authorize', provider='google') }}">
                    <i class="fa fa-google"></i> Sign In
                </a>
            </li>

        {% endif %}
    </ul>
</div>
