<ul class="nav navbar-nav">

    <li id="nav-home">
        <a class="nav-link" href="/">
            <span><i class="fa fa-lg fa-home"></i></span> Home
        </a>
    </li>

    <li id="nav-docs">
        <a class="nav-link" href="/documentation">
            <span><i class="fa fa-lg fa-info-circle"></i> Documentation
        </a>
    </li>
</ul>
