{% extends "base.html" %}

{% block side_menu_container %}

<div class="row">
    <div class="col-sm-2">
        <div class="sidebar-nav">
            <div class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="visible-xs navbar-brand">HW Parts</span>
                </div>

                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    {% block side_menu %}{% endblock %}
                </div><!--/.nav-collapse -->

            </div><!--/.navbar -->
        </div><!--/.sidebar-nav -->
    </div><!--/.col-sm-2 -->

    <div class="col-sm-10">
        {% block main_content %}
        {% endblock %}
    </div>

</div>

{% endblock %} 
