<nav class="navbar navbar-inverse navbar-fixed-top" id="navbar_menu">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ivt_tracker_navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

        <a class="navbar-brand" href="/">
            <span><img src="{{ url_for('static', filename='images/infinidat-logo.png') }}" width="33" height="33" alt="HW Parts Inventory"></span>
           HW Parts 
        </a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="ivt_tracker_navbar">

        {% include "menu/menu.html" %}
        {% include "menu/login_menu.html" %}

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
