<div class="navbar nav_title" style="border: 0;">
    <a href="/hwparts/home" class="site_title"><i class="fa fa-server"></i> <span>Infinibox</span></a>
</div>

<div class="clearfix"></div>

<!-- menu profile quick info -->
<div class="profile clearfix">

    <div class="profile_pic">
        <img src="{{ url_for('static', filename = 'build/images/img.jpg') }}" alt="..." class="img-circle profile_img">
    </div>

    <div class="profile_info">
        <span>Welcome,</span>
        <h2>Victor Ziv</h2>
    </div>
</div>
<!-- /menu profile quick info -->
