<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

    <div class="menu_section">

        <h3>HW Parts</h3>

        <ul class="nav side-menu">

            <li><a href="/hwparts/home">
                    <i class="fa fa-home"></i> Home 
                </a>
            </li>

            <li id="nav-hwparts-node"><a><i class="fa fa-desktop"></i> Node <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li id="nav-hwparts-node-model" role="presentation"><a href="/hwparts/view/node/model">Model</a></li>
                    <li id="nav-hwparts-node-bios" role="presentation"><a class="nav-link" href="/view/node/bios">BIOS</a></li>
                    <li id="nav-hwparts-node-idrac"><a href="/view/node/idrac">iDRAC</a></li>
                    <li id="nav-hwparts-node-lifecont"><a href="/view/node/lifecont">Lifecycle Controller</a></li>
                    <li id="nav-hwparts-node-perc"><a href="/view/node/perc">PERC</a></li>
                    <li id="nav-hwparts-node-frontbp"><a href="/view/node/frontbp">Front Backplane</a></li>
                    <li id="nav-hwparts-node-rearbp"><a href="/view/node/rearbp">Rear Backplane</a></li>
                    <li id="nav-hwparts-node-psu"><a href="/view/node/psu">PSU</a></li>
                </ul>
            </li>

            <li id="nav-hwparts-controller"><a><i class="fa fa-cogs"></i> Controller <span class="fa fa-chevron-down"></span></a>

                <ul class="nav child_menu">
                    <li id="nav-hwparts-controller-ethcard"><a href="/view/controller/ethcard">Ethernet Card</a></li>
                    <li id="nav-hwparts-controller-ibcard"><a href="/view/controller/ibcard">InfiniBand Card</a></li>
                    <li id="nav-hwparts-controller-sascard"><a href="/view/controller/sascard">SAS Card</a></li>
                </ul>

            </li>
            
            <li id="nav-hwparts-fbchannel"><a><i class="fa fa-fighter-jet"></i> Fiber Channel <span class="fa fa-chevron-down"></span></a>

                <ul class="nav child_menu">
                    <li id="nav-hwparts-fbchannel-fcadapter"><a href="/view/fbchannel/fcadapter">FC Adapter</a></li>
                    <li id="nav-hwparts-fbchannel-fcgbic"><a href="/view/fbchannel/fcgbic">FC GBIC</a></li>
                </ul>
            </li>


            <li id="nav-hwparts-enclosure"><a><i class="fa fa-archive"></i> Enclosure <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li id="nav-hwparts-enclosure-encmaster"><a href="/view/enclosure/encmaster">Enclosure Master</a></li>
                    <li id="nav-hwparts-enclosure-encpsu"><a href="/view/enclosure/encpsu">Enclosure PSU</a></li>
                    <li id="nav-hwparts-enclosure-enciom"><a href="/view/enclosure/enciom">Enclosure IOM</a></li>
                </ul>
            </li>

            <li id="nav-hwparts-enclosure"><a><i class="fa fa-hdd-o"></i> Drive <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li id="nav-hwparts-drive-drivemaster"><a href="/view/drive/drivemaster">Drive Master</a></li>
                    <li id="nav-hwparts-drive-inquiry"><a href="/view/drive/inquiry">Drive Inquiry</a></li>
                    <li id="nav-hwparts-drive-modepages"><a href="/view/drive/modepages">Drive Mode Pages</a></li>
                    <li id="nav-hwparts-drive-mixingkey"><a href="/view/drive/mixingkey">Drive Mixing Key</a></li>
                    <li id="nav-hwparts-drive-hddrc"><a href="/view/drive/hddrc">HDD Rejection Criteria</a></li>
                    <li id="nav-hwparts-drive-ssdrc"><a href="/view/drive/ssdrc">SSD Rejection Criteria</a></li>
                </ul>
            </li>


            <li="nav-hwparts-electricity"><a><i class="fa fa-plug"></i> Electricity <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li id="nav-hwparts-electricity-pdu" role="presentation">
                        <a class="nav-link" href="/view/electricity/pdu">PDU</a></li>
                </ul>
            </li>

            <li id="nav-hwparts-vendor"><a href="/view/vendor"><i class="fa fa-cart-plus"></i> Vendor</a></li>

        </ul>
    </div>
</div>
<!-- /sidebar menu -->
