{% extends "base.html" %}

{% block top_submenu_container %}

    <div id="topsubmenu" class="navbar navbar-default " role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-topsubmenu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse navbar-topsubmenu">
                {% block top_submenu %}
                {% endblock %} 

            </div>

        </div>
    </div>


    {% block main_content %}
    {% endblock %} 

{% endblock %} 

