<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav class="navbar navbar-default" id="navbar_topmenu">

            {% block sidebar_toggle %}{% endblock %}


            <ul class="nav navbar-nav navbar-right">

                <li class="">
<!--                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">-->
<!--                        <img src="{{ url_for('static', filename = 'images/hammer.jpg') }}" alt=""> Welcome-->
<!--                        <span class=" fa fa-angle-down"></span>-->
<!--                    </a>-->
                    <a href="/hwparts/home" class="site_title"><i class="fa fa-server"></i> <span>Infinibox</span></a>

<!--                    <ul class="dropdown-menu dropdown-usermenu pull-right">-->

<!--                        <li><a href="javascript:;"> Profile</a></li>-->

<!--                        <li>-->
<!--                            <a href="javascript:;">-->
<!--                                <span class="badge bg-red pull-right">50%</span>-->
<!--                                <span>Settings</span>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li><a href="javascript:;">Help</a></li>-->
<!--                        <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>-->
<!--                    </ul>-->

<!--                </li>-->

<!--                <li id="nav-documentation" role="presentation">-->
<!--                    <a class="nav-link" href="/documentation">-->
<!--                        <span><i class="fa fa-info-circle"></i></span> Documentation-->
<!--                    </a>-->
<!--                </li>-->

                <li id="nav-home" role="presentation">
                    <a class="nav-link" href="/hwparts/home">
                        <span><i class="fa fa-home"></i></span> Home
                    </a>
                </li>

            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->
