{% block head %}
    <link href="{{ url_for('static', filename='css/heroic-features.css') }}" rel="stylesheet">
{% endblock %}

<!-- Jumbotron Header -->
<div class="jumbotron hero-spacer">
    <div class="clearfix">
    <img src="{{ url_for('static', filename = 'images/under_construction.jpg') }}"
           alt="Under Construction" 
           class="pull-left gap-right">
      <h2>Coming soon...</h2>
    </div>
</div>
