<!DOCTYPE html>
<html lang="en">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>HW Tracker |</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico', r=82845) }}" type="image/x-icon">
        <link  rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-3.3.7/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome-4.7.0.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/ui.jqgrid-4.15.0.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom-jqgrid.css') }}">
        
        <link href="{{ url_for('static', filename='vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='vendors/nprogress/nprogress.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='vendors/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet">

        <link href="{{ url_for('static', filename='css/plugins/pnotify.custom.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/plugins/bootstrap-dialog.min.css') }}" rel="stylesheet">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />

        <link href="{{ url_for('static', filename='css/bootstrap-theme.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/site.css') }}" rel="stylesheet">

        {% block head %}{% endblock %}

    </head>

    <body class="nav-md">

        <div class="container body">
            <div class="main_container">

                <!-- left side menu -->
                <div class="col-md-3 left_col menu_fixed">
                    <div class="left_col scroll-view">

                        {##% include "menu/quick-profile.html" %##}
                        <br />
                        {% include "menu/sidebar.html" %}
                        {% include "menu/footer-buttons.html" %}

                    </div> <!-- .left-col -->
                </div>
                <!-- /left side menu -->

                {% include "menu/topmenu.html" %}

                <!-- page content -->
                <div class="right_col" role="main">
                    {% block main_content %}{% endblock %}
                </div>
                <!-- /page content -->

                <!-- footer content -->
                {% include "footer.html" %}
            </div>
        </div>

        <script src="{{ url_for('static', filename = 'js/jquery-2.2.4.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'js/bootstrap-3.3.7.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.jqgrid-4.15.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plugins/pnotify.custom.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plugins/bootstrap-dialog.min.js') }}"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>

        <script src="{{ url_for('static', filename='js/plugins/fastclick.js') }}"></script>
        <script src="{{ url_for('static', filename='vendors/iCheck/icheck.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/custom.js') }}"></script>


        {% include "base-2col/external/js.html" %}

        {% block external_script %}{% endblock %}

        <script>
            jQuery(document).ready(function () {
                //PNotify.prototype.options.styling = 'fontawesome';
                {% block docready %}
                {% endblock %}
            });
        </script>

    </body>
</html>
