{% extends "base-2col/base.html" %}

{% block main_content %}

<!-- page content -->
<div class="">

    <div class="page-title">
        <div class="title_left">
            <h3>Infinibox&trade; HW Parts Documentation</h3>
        </div>
    </div>

    <br /> <br /> <br /> 

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-11 col-sm-11 col-xs-12"> <!-- row content -->
            <div class="x_panel">
                <div class="x_content">

                    <h3>Don't let architecture astronauts scare you</h3>
                    <br />

                        <!-- user message -->
                        <ul class="messages">
                          <li>
                            <img src="{{ url_for('static', filename = 'build/images/img.jpg') }}" class="avatar" alt="Avatar">
                            <div class="message_date">
                              <h3 class="date text-info">26</h3>
                              <p class="month">October</p>
                            </div>
                            <div class="message_wrapper">
                              <h4 class="heading">Victor Ziv</h4>
                              <blockquote class="message">When great thinkers think about problem, they start to see paterns.</blockquote>
                            </div>
                          </li>
                        </ul>
                        <!-- /user message -->

                </div> <!-- /.x_content -->
            </div> <!-- /.x_panel -->
        </div> <!-- /.col-12 -->
    </div> <!-- /.row -->

</div>
<!-- /page content -->

<!-- /page content -->
{% endblock %}


{% block docready %} 
    jQuery("li#nav-documentation").addClass("active");
{% endblock %} 
