{% extends "base-2col/base.html" %}

{% block main_content %}

<!-- page content -->


          <div class="">

            <div class="page-title">
                <div class="title_left">
                    <h3>Infinibox&trade; HW Parts Management</h3>
                </div>
            </div>

            <br />
            <br />
            <br />
            
            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12">

                <div class="x_panel">

                  <div class="x_content">

                    <div class="col-md-9 col-sm-9 col-xs-12">

                      <div>

                        <h3>What's New</h3>
                        <br />

                        <!-- end of user messages -->
                        <ul class="messages">
                          <li>
                            <img src="{{ url_for('static', filename = 'build/images/img.jpg') }}" class="avatar" alt="Avatar">
                            <div class="message_date">
                              <h3 class="date text-info">14</h3>
                              <p class="month">November</p>
                            </div>
                            <div class="message_wrapper">
                              <h4 class="heading">Victor Ziv</h4>
                              <blockquote class="message">The alpha version is out. Let's hear the complains and requirements.</blockquote>
                            </div>
                          </li>
                        </ul>
                        <!-- end of user messages -->

                      </div>
                    </div>

                    <!-- start project-detail sidebar -->
                    <div class="col-md-3 col-sm-3 col-xs-12">

                        <section class="panel">

                            <div class="x_title">
                                <h2>Project Description</h2>
                                <div class="clearfix"></div>
                            </div>

                            <div class="panel-body">
                                <h3 class="green"><i class="fa fa-server"></i> Infinibox HW Parts</h3>

                                <p>Making Infinibox HW parts management easy.</p>
                                <p>Currently in a prototype version. Any feedback is highly appreciated.</p>
                                <br />

                                <h5>External Links</h5>
                                <ul class="list-unstyled project_files">
                                    <li>
                                        <a href="https://wiki.infinidat.com/display/MNFC/INFINIBOX+Firmware+Matrix" target=_blank>
                                            <i class="fa fa-wikipedia-w"></i> Infinibox Firmware Matrix
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://wiki.infinidat.com/display/HAR/Hardware+Parts+Database+Schema" target=_blank>
                                        <i class="fa fa-wikipedia-w"></i> HW Parts DB Schema Design
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://jira.infinidat.com/browse/IVTS-672?filter=18913" target=_blank>
                                        <i class="fa fa-ticket"></i> JIRA Ticket
                                        </a>
                                    </li>

                                </ul>
                                <br />
                            </div>

                        </section>

                    </div>
                    <!-- end project-detail sidebar -->

                  </div>
                </div>

              </div>
            </div>
          </div>
        <!-- /page content -->

<!-- /page content -->
{% endblock %}


{% block docready %} 
    jQuery("li#nav-home").addClass("active");
    jQuery("li#nav-hwparts-node-model").addClass("active");
{% endblock %} 
