<button id="btn_node_{{ params.component }}_delete"  name="btn_node_{{ params.component }}_delete" class="btn btn-round btn-warning pull-right">
    <span>Delete {{ params.caption }}</span>
    <i class="fa fa-trash"></i>
</button>
<button id="btn_node_{{ params.component }}_edit"  name="btn_node_{{ params.component }}_edit" class="btn btn-round btn-success pull-right">
    <span>Edit {{ params.caption }}</span>
    <i class="fa fa-edit"></i>
</button>
<button id="btn_node_{{ params.component }}_add"  name="btn_node_{{ params.component }}_add" class="btn btn-round btn-dark pull-right">
    <span>Add {{ params.caption }}</span>
    <i class="fa fa-plus"></i>
</button>
