<div class="ln_solid"></div>

<div class="form-group col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <button type="button" id="btn_submit_{{ params.component }}_{{ params.operation }}" class="btn btn-round btn-success pull-right">Submit</button>
        <button type="button" id="btn_cancel_{{ params.component }}_{{ params.operation }}" class="btn btn-round btn-dark pull-right">Cancel</button>
    </div>
</div>
