<div class="row grid_row">
    <div class="col-md-12 col-sm-12 col-xs-12" id="node_{{ params.component }}_grid_container">
        <table class="table table-hover table-striped" id="node_{{ params.component }}_grid"></table> 
        <div id="node_{{ params.component }}_grid_pager"></div>
    </div>
</div>
