{% extends "base-2col/base.html" %}

{% block main_content %}

<!-- page content -->
<div class="">

    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2">
            <br /><br />
            <div class="x_panel">

                <div class="x_title">

                    <h3 class="pull-left">Edit iDRAC</h3>

                    <ul class="breadcrumb pull-right">
                        <li>
                            <a href="/hwparts/node/idrac"> Node iDRAC</a>
                       </li>
                        <li class="active">Edit iDRAC</li>
                    </ul>

                    <div class="clearfix"></div>
                </div><!-- ./x_title -->

                <div class="x_content">
                    <br />

                    <form class="form-horizontal form-label-left" id="idrac_edit_form">

                        <input type="hidden" class="idrac_field_editable" id="idracid" name="idracid" readonly>

                        <div class="row">

                            <div class="form-group required col-md-6 col-sm-6 col-xs-12" id="idrac_version_group">
                        
                                <label for="idrac-version" class="col-md-4 col-sm-4 col-xs-12 control-label">Version</label>
                                <div class="col-sm-8">
                                    <input
                                        type="text"
                                        class="form-control idrac_field_editable"
                                        id="idrac_version"
                                        name="idrac_version">
                                </div>
                                
                            </div> <!-- idrac version group -->

                            <div class="form-group col-md-6 col-sm-6 col-xs-12" id="idrac_pn_group">

                                <label for="idrac_build" class="col-md-4 col-sm-4 col-xs-12 control-label">Build</label>
                                <div class="col-sm-8">
                                    <input
                                        type="text"
                                        class="form-control idrac_field_editable"
                                        id="idrac_build"
                                        name="idrac_build">
                                </div>
                            </div>

                        </div> <!-- ./row -->

                        <div class="row">

                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label for="ibox_release" class="col-md-4 col-sm-4 col-xs-12 control-label">Infinibox Release</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="ibox_release"
                                        name="ibox_release" disabled>
                                </div>
                            </div>

                            <div class="form-group col-md-6 col-sm-6 col-xs-12">

                                <label for="node_model" class="col-md-4 col-sm-4 col-xs-12 control-label">Node Model</label>
                                <div class="col-sm-8">
                                    <input
                                        type="text" 
                                        class="form-control"
                                        id="node_model" 
                                        name="node_model" readonly>
                                </div>
                        
                            </div> <!-- /.form-group -->

                        </div><!-- /.row -->
                        
                        <div class="row">

                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label for="firmware_bin" class="col-md-4 col-sm-4 col-xs-12 control-label">Firmware BIN</label>
                                <div class="col-sm-8">
                                    <input
                                        type="text"
                                        class="form-control idrac_field_editable"
                                        id="firmware_bin"
                                        name="firmware_bin">
                                </div>
                            </div>

                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label for="firmware_exe" class="col-md-4 col-sm-4 col-xs-12 control-label">Firmware EXE</label>
                                <div class="col-sm-8">
                                    <input
                                        type="text"
                                        class="form-control idrac_field_editable"
                                        id="firmware_exe"
                                        name="firmware_exe">
                                </div>
                            </div>

                        </div><!-- /.row -->

                        <div class="row">

                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label for="hwstatus_check" class="col-md-4 col-sm-4 col-xs-12 control-label">HW Status</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class="checkbox">
                                            <input
                                                type="checkbox"
                                                class="flat"
                                                id="hwstatus_check"
                                                name="hwstatus_check">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label for="notes" class="col-md-4 col-sm-4 col-xs-12 control-label">Notes</label>
                                <div class="col-sm-8">
                                    <textarea
                                        rows="3"
                                        class="form-control idrac_field_editable"
                                        id="notes"
                                        name="notes"></textarea>
                                </div>
                            </div>

                        </div><!-- /.row -->

                        <br />
                        <br />

                        {% include "main/node/buttons-form.html" %}

                    </form>
                </div> <!-- /.x_content -->

            </div><!-- ./x_panel -->
        </div><!-- ./col-* -->
    </div><!-- ./row -->

</div>
<!-- /page content -->



{% endblock %}

{% block docready %} 
    jQuery("li#nav-home").addClass("active");
    jQuery("li#nav-hwparts-node-idrac").addClass("active");
    {% include  "main/node/idrac/idrac.js" %}
    onShowFormEdit();
{% endblock %} 
