{% extends "base-2col/base.html" %}

{% block main_content %}

<!-- page content -->
<div class="">

    <div class="page-title">
        <div class="title_left"><h3>Node {{ params.caption }}</h3></div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">

                    {% include "main/node/action-buttons.html" %}
                    <div class="clearfix"></div>

                    <br />
                    {% include "main/node/template-grid.html" %}

                </div> <!-- /.x_content -->
            </div> <!-- /.x_panel -->
        </div> <!-- /.col-12 -->
    </div> <!-- /.row -->
</div>
<!-- /page content -->

{% endblock %}

{% block docready %} 
    jQuery("li#nav-home").addClass("active");
    jQuery("li#nav-hwparts-node-{{ params.component }}").addClass("active");
    {% include  "main/node/idrac/idrac.js" %}
{% endblock %} 
