<div id="modal_idrac_delete" class="modal fade" style=”display:none” tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header modal-header-info">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modal_idrac_delete_header">Are you sure?</h4>
            </div>

            <div class="modal-body" id="modal_idrac_delete_body">
                <h4>Deleting iDRAC version <span id="idrac_delete_version"></span></h4>
            </div><!-- /.modal-body -->

            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
                <button type="button" id="btn_submit_idrac_delete" class="btn btn-primary">Go</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
