{% extends "base-2col/base.html" %}

{% block main_content %}


<!-- page content -->
<div class="">

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <br /><br />
            <div class="x_panel">

                <div class="x_title">

                    <h3 class="pull-left">Edit Node Model</h3>

                    <ul class="breadcrumb pull-right">
                        <li>
                            <a href="/view/node/model"> Node Model</a>
                       </li>
                        <li class="active">Edit Model</li>
                    </ul>

                    <div class="clearfix"></div>
                </div><!-- ./x_title -->

                <div class="x_content">
                    <br />

                    <form class="form-horizontal form-label-left" id="model_edit_form">
                        <input type="hidden" class="model_field_editable" id="modelid" name="modelid" readonly>

                        <div class="row">
                            <div class="form-group required col-md-12 col-sm-12 col-xs-12" id="node_model_group">
                                
                                <label for="bios-version" class="col-md-3 col-sm-3 col-xs-12 control-label">Node Model</label>
                                <div class="col-sm-9">
                                    <input
                                        type="text"
                                        class="form-control model_field_editable"
                                        id="node_model"
                                        name="node_model">
                                </div>

                            </div>

                        </div><!-- /.row -->

                        <div class="row">

                            <div class="form-group col-md-12 col-sm-12 col-xs-12">

                                <label for="vendor" class="col-md-3 col-sm-3 col-xs-12 control-label">Vendor</label>
                                <div class="col-sm-9">
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="vendor"
                                        name="vendor" disabled>
                                </div>
                            </div>
                        </div><!-- /.row -->


                        <div class="row">

                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        
                                <label for="notes" class="col-md-3 col-sm-3 col-xs-12 control-label">Notes</label>
                                <div class="col-sm-9">
                                    <textarea
                                        rows="3"
                                        class="form-control model_field_editable"
                                        id="notes"
                                        name="notes"></textarea>
                                </div>
                            </div>

                        </div><!-- /.row -->

                        <br />
                        <br />

                        {% include "main/node/buttons-form.html" %}

                    </form>
                </div> <!-- /.x_content -->

            </div><!-- ./x_panel -->
        </div><!-- ./col-* -->
    </div><!-- ./row -->

</div>
<!-- /page content -->

{% endblock %}

{% block docready %} 
    jQuery("li#nav-home").addClass("active");
    jQuery("li#nav-hwparts-node").addClass("active");
    jQuery("li#nav-hwparts-node-model").addClass("active");
    jQuery("li#nav-hwparts-node-model").addClass("current-page");
    {% include  "main/node/model/model.js" %}
    onShowFormEdit();
{% endblock %} 
