<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>HW Parts Inventory</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico', r=82845) }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome-4.7.0.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-3.3.7/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-3.3.7/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/ui.jqgrid-4.15.0.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/zebra_dialog/zebra_dialog.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar-top-submenu.css') }}" type="text/css">

        {% block head %}{% endblock %}

    </head>

    <body>
        <div id="wrap">

            {% include "menu/navbar.html" %}

            <div class="container-fluid page-content">
                {% block top_submenu_container %}
                    {% block main_content %}{% endblock %}
                {% endblock %}
            </div>

        </div>
        <!--./wrap--> 

        <div id="footer">
            <div class="container-fluid">
                <p class="text-muted credit">&copy; 2017 Infinidat Ltd.</p>
            </div>
        </div>


        <script language="javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

<!--        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" -->
<!--            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" -->
<!--            crossorigin="anonymous">-->
<!--        </script>-->


        <script language="javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
        <script language="javascript" src="{{ url_for('static', filename='js/jquery.jqgrid-4.15.0.min.js') }}"></script>
        <script language="javascript" src="{{ url_for('static', filename='js/bootstrap-3.3.7.min.js') }}"></script>
        <script language="javascript" src="{{ url_for('static', filename='js/zebra_dialog.min.js') }}"></script>
        <script language="javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>

        {% block external_script %}{% endblock %} 

        <script>
            jQuery(document).ready(function () {
                {% block docready %} 
                {% endblock %} 
            });
        </script>
    </body>
</html>
