<div id="modal_bios_add" class="modal fade modal-hwparts-2col" style=”display:none” tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header modal-header-info">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modal_bios_add_header">Add Node BIOS</h4>
            </div>

            <div class="modal-body" id="modal_bios_add_body">
                
                <div class="panel panel-default">
                    <div class="panel-body">

                        <form role="form" id="bios_add_form" class="form-horizontal form-label-left"
                            data-bv-feedbackicons-valid="fa fa-check"
                            data-bv-feedbackicons-invalid="fa fa-remove"
                            data-bv-feedbackicons-validating="fa fa-refresh"> 

                            <div class="row">

                                <div class="form-group required col-sm-6 clearfix" id="bios_version_group">
                            
                                    <label for="bios-version" class="col-sm-4 col-xs-12 control-label">BIOS Version</label>
                                    <div class="col-sm-8">
                                        <input
                                            type="text"
                                            class="form-control bios_field"
                                            id="bios_version"
                                            name="bios_version">
                                    </div>
                                </div> <!-- bios version group -->

                                <div class="form-group col-sm-6 clearfix">

                                    <label for="node_model" class="col-sm-4 col-xs-12 control-label">Node Model</label>
                                    <div class="col-sm-8">
                                        <input
                                            type="text" 
                                            class="form-control bios_field"
                                            id="node_model" 
                                            name="node_model" readonly>
                                    </div>
                            
                                </div>


                            </div><!-- /.row -->


                            <div class="row">

                                <div class="form-group col-sm-6 clearfix">
                                    <label for="ibox_release" class="col-sm-4 col-xs-12 control-label">Infinibox Release</label>
                                    <div class="col-sm-8">
                                        <select
                                            class="form-control bios_field"
                                            id="ibox_release"
                                            name="ibox_release"></select>
                                    </div>
                                </div>

                                <div class="form-group col-sm-6 clearfix">
                                    <label for="cpu_microarch" class="col-sm-4 col-xs-12 control-label">CPU Microarchitecture</label>
                                    <div class="col-sm-8">
                                        <input
                                            type="text"
                                            class="form-control bios_field"
                                            id="cpu_microarch"
                                            name="cpu_microarch">
                                    </div>
                                </div>


                            </div><!-- /.row -->

                            <div class="row">

                                <div class="form-group col-sm-6 clearfix">
                                    <label for="firmware_bin" class="col-sm-4 col-xs-12 control-label">Firmware BIN</label>
                                    <div class="col-sm-8">
                                        <input
                                            type="text"
                                            class="form-control bios_field"
                                            id="firmware_bin"
                                            name="firmware_bin">
                                    </div>
                                </div>

                                <div class="form-group col-sm-6 clearfix">
                                    <label for="firmware_exe" class="col-sm-4 col-xs-12 control-label">Firmware EXE</label>
                                    <div class="col-sm-8">
                                        <input
                                            type="text"
                                            class="form-control bios_field"
                                            id="firmware_exe"
                                            name="firmware_exe">
                                    </div>
                                </div>

                            </div><!-- /.row -->

                            <div class="row">


                                <div class="form-group col-sm-6 clearfix">
                                    <label for="hwstatus_check" class="col-md-4 col-sm-4 col-xs-12 control-label">HW Status</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <div class="checkbox">
                                                <input
                                                    type="checkbox"
                                                    class="flat bios_field"
                                                    id="hwstatus_check"
                                                    name="hwstatus_check">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-sm-6 clearfix">
                                    <label for="notes" class="col-md-4 col-sm-4 col-xs-12 control-label">Notes</label>
                                    <div class="col-sm-8">
                                        <textarea
                                            rows="3"
                                            class="form-control bios_field"
                                            id="notes"
                                            name="notes"></textarea>
                                    </div>
                                
                                </div>
                            </div><!-- /.row -->

                        </form>

                    </div><!-- /.panel-body -->
                </div><!-- /.panel -->
            </div><!-- /.modal-body -->

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="btn_submit_bios_add" class="btn btn-primary btn-default">Submit</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
