{% extends "base-2col/base.html" %}

{% block main_content %}

<!-- page content -->
<div class="">

    <div class="page-title">
        <div class="title_left"><h3>{{ params.caption }}</h3></div>
    </div>

    <div class="clearfix"></div>
    <br />

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">


                    <div class="clearfix"></div>
                    <br />
                    {% include "main/under_construction.html" %}

                </div> <!-- /.x_content -->
            </div> <!-- /.x_panel -->
        </div> <!-- /.col-12 -->
    </div> <!-- /.row -->
</div>
<!-- /page content -->

{% endblock %}

{% block docready %} 
    jQuery("li#nav-home").addClass("active");
    jQuery("li#nav-hwparts-{{ params.category }}-{{ params.component }}").addClass("active");
{% endblock %} 
