/*|+ ---- jqGrid styling ---+|*/
.ui-jqgrid.ui-jqgrid-bootstrap {
    border: 1px solid #003380;
}
.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-caption { }
.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-hdiv {
    font-size: 1.3em;
}

.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-bdiv {
    font-size: 1.2em;
    color: #1e2126;
}

.ui-jqgrid .ui-jqgrid-htable th {
    height: 2em !important;
}
.ui-jqgrid tr.jqgrow td{
    height: 2em !important;
}
