.grid_row {
    padding-top: 5px;
    padding-bottom: 5px;
}

.modal-hwparts-1col .modal-dialog {
    width: 35%;
 }

.modal-hwparts-2col .modal-dialog {
    width: 55%;
}

.modal-hwparts .modal-body {
    overflow-y: auto;
    overflow-x: hidden;
}

.required .control-label:after {
  content:" *";
  color:red;
}

.result-failed {
    color: #DF0101;
}

.result-passed {
    color: #088A08;
}

.success {
    color: #088A08;
}

.failure {
    color: #DF0101;
}

.inprogress {
    color: #003A00;
}

.dialog_busy{
    background-image: url("images/busy_big.gif"); 
}
