{% extends "base-2col/base.html" %}

{% block main_content %}

<!-- page content -->
<div class="">

    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2">
            <br /><br />
            <div class="x_panel">

                <div class="x_title">

                    <h3 class="pull-left">Add A New Lifecycle Controller</h3>

                    <ul class="breadcrumb pull-right">
                        <li>
                            <a href="/view/node/lifecont"> Node LC</a>
                       </li>
                        <li class="active">Add LC</li>
                    </ul>

                    <div class="clearfix"></div>
                </div><!-- ./x_title -->

                <div class="x_content">
                    <br />

                    <form class="form-horizontal form-label-left" id="lifecont_add_form">

                        <div class="row">

                            <div class="form-group required col-md-6 col-sm-6 col-xs-12" id="lifecont_version_group">
                        
                                <label for="lifecont-version" class="col-md-4 col-sm-4 col-xs-12 control-label">Version</label>
                                <div class="col-sm-8">
                                    <input
                                        type="text"
                                        class="form-control lifecont_field"
                                        id="lifecont_version"
                                        name="lifecont_version">
                                </div>
                                
                            </div> <!-- lifecont version group -->

                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label for="ibox_release" class="col-md-4 col-sm-4 col-xs-12 control-label">Infinibox Release</label>
                                <div class="col-sm-8">
                                    <select
                                        class="form-control lifecont_field"
                                        id="ibox_release"
                                        name="ibox_release"></select>
                                </div>
                            </div>

                        </div> <!-- ./row -->

                        <div class="row">

                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label for="node_model" class="col-md-4 col-sm-4 col-xs-12 control-label">Node Model</label>
                                <div class="col-sm-8">
                                    <input
                                        type="text"
                                        class="form-control lifecont_field"
                                        id="node_model"
                                        name="node_model" readonly>
                                </div>
                            </div> <!-- /.form-group -->


                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label for="firmware_bin" class="col-md-4 col-sm-4 col-xs-12 control-label">Firmware BIN</label>
                                <div class="col-sm-8">
                                    <input
                                        type="text"
                                        class="form-control lifecont_field"
                                        id="firmware_bin"
                                        name="firmware_bin">
                                </div>
                            </div>

                        </div><!-- /.row -->
                        
                        <div class="row">


                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label for="firmware_exe" class="col-md-4 col-sm-4 col-xs-12 control-label">Firmware EXE</label>
                                <div class="col-sm-8">
                                    <input
                                        type="text"
                                        class="form-control lifecont_field"
                                        id="firmware_exe"
                                        name="firmware_exe">
                                </div>
                            </div>

                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label for="hwstatus_check" class="col-md-4 col-sm-4 col-xs-12 control-label">HW Status Check</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class="checkbox">
                                            <input
                                                type="checkbox"
                                                class="flat lifecont_field"
                                                id="hwstatus_check"
                                                name="hwstatus_check">
                                    </div>
                                </div>
                            </div>

                        </div><!-- /.row -->

                        <div class="row">

                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label for="notes" class="col-md-4 col-sm-4 col-xs-12 control-label">Notes</label>
                                <div class="col-sm-8">
                                    <textarea
                                        rows="3"
                                        class="form-control lifecont_field"
                                        id="notes"
                                        name="notes"></textarea>
                                </div>
                            </div>

                            <div class="form-group col-md-6 col-sm-6 col-xs-12"></div>

                        </div><!-- /.row -->
                        <br />
                        <br />
                        <div class="ln_solid"></div>
                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="btn-group pull-right">
                                    <button type="button" id="btn_cancel_lifecont_add" class="btn btn-dark">Cancel</button>
                                    <button type="button" id="btn_submit_lifecont_add" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div> <!-- /.x_content -->

            </div><!-- ./x_panel -->
        </div><!-- ./col-* -->
    </div><!-- ./row -->

</div>
<!-- /page content -->



{% endblock %}

{% block docready %} 
    jQuery("li#nav-home").addClass("active");
    jQuery("li#nav-hwparts-node-lifecont").addClass("active");
    {% include  "main/node/lifecont/lifecont.js" %}
    onShowFormAdd();
{% endblock %} 
