{% extends "base-2col/base.html" %}

{% block main_content %}

<!-- page content -->
<div class="">

    <div class="page-title">
        <div class="title_left"><h3>Node Lifecycle Controller</h3></div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">

                {% include "main/node/action-buttons.html" %}
                <div class="clearfix"></div>

                <br />

                <div class="row grid_row">
                    <div class="col-md-12 col-sm-12 col-xs-12" id="node_lifecont_grid_container">
                        <table class="table table-hover table-striped" id="node_lifecont_grid"></table> 
                        <div id="node_lifecont_grid_pager"></div>
                    </div>
                </div>

                </div> <!-- /.x_content -->
            </div> <!-- /.x_panel -->
        </div> <!-- /.col-12 -->
    </div> <!-- /.row -->
</div>
<!-- /page content -->

{% endblock %}

{% block docready %} 
    jQuery("li#nav-home").addClass("active");
    jQuery("li#nav-hwparts-node-lifecont").addClass("active");
    {% include  "main/node/lifecont/lifecont.js" %}
{% endblock %} 
