<div class="col-md-3 left_col menu_fixed">
    <div class="left_col scroll-view">

        {% include "menu/quick-profile.html" %}
        <br />
        {% include "menu/sidebar.html" %}
        {% include "menu/footer-buttons.html" %}

    </div> <!-- .scroll-view -->
</div> <!-- .left_col -->
