<!--<div class="container">-->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">

                    {% block form_container %}{% endblock %}

                </div> <!-- /.xcontent -->
            </div> <!-- /.xpanel -->
        </div> <!-- /.col-md-12 -->
    </div> <!-- /.row -->
<!--</div> |+ /.container +|-->
