{% extends "base.html" %}

{% block twocol %}

    <div class="col-md-3 left_col menu_fixed">
        <div class="left_col scroll-view">

            {% include "menu/quick-profile.html" %}
            <br />
            {% include "menu/sidebar.html" %}
            {% include "menu/footer-buttons.html" %}

        </div> <!-- .left-col -->
    </div>

    {% include "menu/topmenu.html" %}

    <!-- page content -->
    <div class="right_col" role="main">
        {% block main_content %}{% endblock %}
    </div>
    <!-- /page content -->

    <!-- footer content -->
    {% include "layout/footer.html" %}
    <!-- /footer content -->
{% endblock %}


